.contact {
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-top: 2%;
  padding-bottom: 2%;
  background: #D9D9D9;
  color: #1C1C1C;
}

.ContactHeading {
  font-family: var(--font-druk);
  font-size: 64px;
}

.ContactBody {
  font-family: var(--font-cabinet);
  font-size: 32px;
  font-weight: 700;
  
}