.About {
  display: flex;
  flex-direction: column;
  background-color: #D9D9D9;
  color: #313131;
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-top: 2%;
  overflow-y: hidden;
  overflow: hidden;

}

.AboutTop {
  display: flex;
}

.AboutHeading {
  font-size: 64px;
  font-family: var(--font-druk);
}

.AboutBody {
  font-size: 32px;
  font-family: var(--font-cabinet);
  padding-top: 2%;
  padding-bottom: 2%;
  font-weight: 500;
  width: 80%;
}

.AboutLeft {
  display: flex;
  flex-direction: column;
}

.AboutImages {
  display: flex;
  position: relative;
}

.patd {
  position: absolute;
  right: -7.5vw;
}

.pig {
  position: absolute;
  top: 90%;
  right: 200px;
  font-family: var(--font-emoji);
  font-size: 220px;
  transform: rotate(-30deg)
}
.chamber {
  position: absolute;
  right: -400px;
  transform: rotate(45deg) translateY(200px);
}

.currently {
  font-size: 48px;
  font-family: var(--font-cabinet);
  font-weight: 700;
}

.AboutBottom {
  display: flex;
  padding-top: 15%;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 15%;
}

.GT {
  font-family: var(--font-druk);
  font-size: 72px;
}

.GTStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bee {
  font-family: var(--font-emoji);
  font-size: 170px;
  transform: rotate(30deg);
  position: absolute;
  left: 0;
}

.SX {
  width: 350px;
  position: absolute;
  right: -3vw;
  transform: rotate(20deg);
}

.BOG {
  position: absolute;
  bottom: 0;
  transform: rotate(-30deg);
  right: 200px;
}

.AboutGTStack {
  position: relative;
}


@media screen and (max-width: 1300px) {
  .chamber {
    width: 250px;
    right: -200px;
  }

  .pig {
    right: 100px;
    font-size: 170px;
  }

  .SX {
    top: 250px;
  }

  .BOG {
    right: 400px;
    width: 150px;
  }

  .GT {
    font-size: 64px;
  }
}

@media screen and (max-width: 1100px) {
  .SX {
    width: 250px;
    top: 175px;
  }

  .GT {
    font-size: 56px;
  }

  .patd {
    width: 200px;
  }

  .AboutBody {
    font-size: 24px;
  }

  .chamber {
    right: -250px
  }

  .AboutHeading {
    font-size: 54px;
  }

  .bee {
    font-size: 120px;
    left: -50px;
  }

  .BOG {
    width: 120px;
  }

  .About {
    padding-top: 5%;
  }

  .AboutBottom {
    padding-bottom: 20%;
  }
}

@media screen and (max-width: 800px) {
  .bee {
    top: 0;
  }

  .patd {
    width: 150px;
  }

  .GT {
    font-size: 48px;
  }

  .BOG {
    width: 80px;
  }

  .SX {
    width: 150px;
  }

  .currently {
    font-size: 32px;  
  }

  .pig {
    font-size: 120px;
  }
}

@media screen and (max-width: 700px) {
  .chamber {
    width: 150px;
    right: -200px;
  }

  .AboutHeading {
    font-size: 36px;
  }

  .AboutBody {
    font-size: 20px;
  }

  .pig {
    top: 80%;
  }

  .About {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 5%;
  }
}

@media screen and (max-width: 600px) {
  .currently {
    font-size: 28px;
  }

  .GT {
    font-size: 36px;
  }

  .SX {
    top: 120px;
  }

  .pig {
    font-size: 100px;
  }

  .bee {
    font-size: 100px;
  }
}

@media screen and (max-width: 500px) {
  .patd {
    display: none;
  }

  .BOG {
    right: 300px;
    width: 50px;
  }
}

@media screen and (max-width: 450px) {
  .currently {
    font-size: 24px;
  }
  .GT {
    font-size: 26px;
  }

  .SX {
    top: 90px;
    width: 100px;
  }

  .patd {
    display: none;
  }

  .bee {
    font-size: 60px;
    left: 0;
  }

  .AboutBody {
    font-size: 16px;
    width: 90%;
  }

  .AboutHeading {
    font-size: 28px;
  }

  .chamber {
    width: 100px;
    right: -200px;
  }

  .pig {
    font-size: 70px;
    top: 90%;
  }

  .BOG {
    right: 200px;
  }

  .currently {
    font-size: 20px;
  }
  
}