.footer {
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 24px;
  font-family: var(--font-cabinet);
  background: #1C1C1C;
  color: #E9E8D1;
}

@media screen and (max-width: 800px) {
  .footer {
    font-size: 14px;
    padding: 3%;
  }
}