.hero {
  width: 100vw;
  height: 100vh;
  background: #1C1C1C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.hero-text {
  width: 50%;
}