.work {
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-top: 2%;
  background: #1C1C1C;
}

.WorkHeading {
  font-family: var(--font-druk);
  font-size: 64px;
}

.CardGrid {
  font-family: var(--font-cabinet);
  padding-top: 3%;
  padding-bottom: 3%;
}

.CardContainer {
  width: 30%;
  position: relative;
  height: 200px;
  border-radius: 8px;
}

.CardGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.CardBody {
  font-size: 20px;
}

.CardImage {
  width: 100%;
  height: 100%;
  padding: 3%;
  background-size: cover;
  background-position: center center;
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0;
}

.CardContainerBG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(30px);
  mix-blend-mode: screen;
  transition: 0.2s;
  opacity: 0;
}

.CardContainer:hover .CardContainerBG {
  opacity: 1;
}

.WorkButtons {
  display: flex;
  justify-content: center;
  font-family: var(--font-cabinet);
  font-size: 24px;
  column-gap: 30px;
  padding-bottom: 5%;
}

.WorkButton {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #191919;
  border-radius: 8px;
  transition: 0.2s;
}

.purple {
  border: #CC00FF 2px solid;
}

.purple:hover {
  box-shadow: #CC00FF 0px 8px 36px;
}

.pink {
  border: #FF006B 2px solid;
}

.pink:hover {
  box-shadow: rgba(255, 0, 107, 1) 0px 8px 36px;
}

@media screen and (max-width: 1000px) {
  .CardImage {
    padding: 6%;
  }

  .WorkHeading {
    font-size: 54px;
  }

  .work {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .WorkButtons {
    font-size: 16px;
    padding-top: 5%;
  }
}

@media screen and (max-width: 950px) {
  .CardContainer {
    width: 45%;
  }
}

@media screen and (max-width: 800px) {

  .CardContainer {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .WorkHeading {
    font-size: 36px;
    padding-bottom: 5%;
  }

  .work {
    padding-top: 10%;
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media screen and (max-width: 500px) {
  .CardBody {
    font-size: 16px;
  }

  .WorkHeading {
    font-size: 28px;
  }

  .WorkButtons {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
  }
}

